<div class="col-xs-2  bg-blue">
    <br/>
    <div class="panel-group sidebar-menu" id="accordion" aria-multiselectable="true">
        <div class="panel panel-default menu-first menu-first-active">
            <a data-toggle="collapse" data-parent="#accordion" href="index.html" aria-expanded="true"
               aria-controls="collapseOne">
                <i class="icon-home icon-large"></i> 主页
            </a>
        </div>
        <div class="panel panel-default menu-first">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
                <i class="icon-user-md icon-large"></i> 系统管理</a>
            </a>

            <div id="collapseOne" class="panel-collapse collapse ">
                <ul class="nav nav-list menu-second">
                    <li><a href="p1.html"><i class="icon-user"></i> 表格p1</a></li>
                    <li><a href="p2.html"><i class="icon-edit"></i> 图表p2</a></li>
                    <li><a href="p3.html"><i class="icon-trash"></i> p3</a></li>
                    <li><a href="#"><i class="icon-list"></i> 子选项4</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
               aria-expanded="false" aria-controls="collapseTwo">
                <i class="icon-book icon-large"></i> 用户管理</a>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="#"><i class="icon-user"></i> 子选项1</a></li>
                    <li><a href="#"><i class="icon-edit"></i> 子选项2</a></li>
                    <li><a href="#"><i class="icon-trash"></i> 子选项3</a></li>
                    <li><a href="#"><i class="icon-list"></i> 子选项4</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default menu-first">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
               aria-expanded="false" aria-controls="collapseThree">
                <i class="icon-book icon-large"></i> 其他管理</a>
            </a>

            <div id="collapseThree" class="panel-collapse collapse">
                <ul class="nav nav-list menu-second">
                    <li><a href="#"><i class="icon-user"></i> 子选项1</a></li>
                    <li><a href="#"><i class="icon-edit"></i> 子选项2</a></li>
                    <li><a href="#"><i class="icon-trash"></i> 子选项3</a></li>
                    <li><a href="#"><i class="icon-list"></i> 子选项4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>